@import '../../../styles/app';

.headerLink {
  a {
    display: block;
    color: $sidebar-color;
    text-decoration: none;
    cursor: pointer;
  }

  > a {
    position: relative;
    padding-left: 15px;
    line-height: 44px;

    > i {
      margin-right: 7px;
    }
  }
}

.caret {
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}

.headerLinkActive {
  font-weight: bold;
}

.panel {
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
  background: rgba(#000, 0.1);

  div {
    padding: 0;
  }

  ul {
    padding-left: 16px;
    font-size: $font-size-small;

    li {
      padding: 7px 20px;
      list-style: none;
    }
  }
}
