.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  border: none;
}

.progress-bar {
  @include box-shadow(none);
}

.progress-sm {
  height: 10px;
  margin-bottom: $line-height-computed/2;
}

.progress-xs {
  height: 5px;
  margin-bottom: $line-height-computed/2;
}

.breadcrumb {
  margin-top: -15px;
  font-size: $font-size-small;

  > .active {
    font-weight: 600;
  }

  > li + li::before {
    color: $gray-light;
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      left: 0;
    }
  }
}

.form-control {
  font-size: $font-size-base - 1;

  @include box-shadow(none);
  @include transition(border-color ease-in-out .15s, background-color ease-in-out .15s);

  &:focus {
    @include box-shadow(none);
  }

  &.no-border {
    border: none;
    background-color: darken($input-bg, 5%);

    &:focus {
      background-color: darken($input-bg, 7%);
    }
  }
}

.btn-inverse {
  @include button-variant($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
}
