.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  border: none;
}

.progress-bar {
  @include box-shadow(none);
}

.progress-sm {
  height: 10px;
  margin-bottom: $line-height-computed/2;
}

.progress-xs {
  height: 5px;
  margin-bottom: $line-height-computed/2;
}

.breadcrumb {
  margin-top: -15px;
  font-size: $font-size-small;

  > .active {
    font-weight: 600;
  }

  > li + li::before {
    color: $gray-light;
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      left: 0;
    }
  }
}
