/**
 * Customized version of bootstrap using variables from _variables.scss.
 * This file is loaded via separate loader thus allowing to use original bootstrap classes (e.g. .btn-default) through out the app.
 */

@import "variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "mixins";
@import "general";
@import "utils";

