@import '../../styles/app';

.widget {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: $widget-bg;
  border-radius: 3px;
}

.title {
  margin-top: 0;
  margin-bottom: $line-height-computed/2;
  color: $widget-title-color;

  @include clearfix();
}
