@import '../../styles/app';

.root,
.wrap {
  height: 100%;
}

.wrap {
  position: relative;
  margin-left: $sidebar-width-open;
}

.content {
  min-height: 100%;
  padding: #{$navbar-height + $content-padding-vertical} $content-padding-horizontal $content-padding-vertical;
  background-color: $content-bg;
}
