@import '../../styles/app';

.root,
.wrap {
  height: 100%;
}

.wrap {
  position: absolute;
  left: 0;
  right: 0;
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out;

  @media (min-width: $screen-sm-min) {
    left: $sidebar-width-open;
    right: 0;
  }
}

.sidebarOpen {
  @media (max-width: $screen-xs-max) {
    left: $sidebar-width-open;
    right: -$sidebar-width-open;
  }
}

.content {
  min-height: 100%;
  padding: #{$navbar-height + $content-padding-vertical} $content-padding-horizontal $content-padding-vertical;
  background-color: $content-bg;
}
